<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<setting id="info" type="text" label="30000" default="http://code.google.com/p/xbmc-pbx-addon/" enable="false"/>
	<setting id="first_time_use" type="bool" default="true" visible="false"/>

	<!-- Asterisk Manager related settings -->
	<setting id="separator" type="lsep" label="30010"/>
	<setting id="asterisk_manager" type="text" label="30011" default="" enable="false"/>
	<setting id="asterisk_manager_host" type="text" label="30012" default="asterisk"/>
	<setting id="asterisk_manager_port" type="integer" label="30013" default="5038"/>
	<setting id="asterisk_manager_user" type="text" label="30014" default="xbmc"/>
	<setting id="asterisk_manager_pass" type="text" label="30015" default="xbmc"/>

	<!-- Asterisk Inbound calls related settings -->
	<setting id="separator" type="lsep" label="30020"/>
	<setting id="xbmc_oncall" type="text" label="30021" default="" enable="false"/>
	<setting id="asterisk_chan_state" type="enum" label="30022" values="Down|Ring" default="1"/>
	<setting id="xbmc_oncall_notification" type="bool" label="30023" default="true"/>
	<setting id="xbmc_oncall_notification_timeout" type="enum" label="30024" values="5|10|15|20|25|30" default="2"/>
	<setting id="xbmc_oncall_pause_media" type="bool" label="30025" default="true"/>
	<setting id="asterisk_now_playing_enabled" type="bool" label="30026" default="false"/>
	<setting id="asterisk_now_playing_context" type="text" label="30027" default="xbmc-now-playing"/>
	<setting id="asterisk_alert_info" type="text" label="30028" default=""/>

	<!-- Asterisk Outbound calls related settings -->
	<setting id="separator" type="lsep" label="30030"/>
	<setting id="asterisk_outbound" type="text" label="30031" default="" enable="false"/>
	<setting id="asterisk_outbound_extension" type="text" label="30032" default="Local/200@from-internal"/>
	<setting id="asterisk_outbound_context" type="text" label="30033" default="from-internal"/>

	<!-- CDR & VoiceMail related settings -->
	<setting id="separator" type="lsep" label="30040"/>
	<setting id="asterisk_info" type="text" label="30041" default="" enable="false"/>
	<setting id="asterisk_info_url" type="text" label="30042" default="http://asterisk/xbmc-pbx-addon.php"/>
	<setting id="asterisk_vm_mailbox" type="integer" label="30043" default="000"/>
	<setting id="asterisk_vm_context" type="text" label="30044" default="default"/>
	<setting id="asterisk_vm_format" type="enum" label="30045" values="wav|gsm|mp3" default="0"/>
</settings>

